@import "../../../components/common.scss";

.nav {
	.filter-buttons {
		display: flex;
		flex-direction: row;
		justify-content: right;

		Button {
			border-radius: 3px;
			margin-left: 10px;
			height: fit-content;
		}
	}
}

.resignation {
	background-color: #fff;
	padding: 1.5rem;
	border-radius: 4px;
	font-size: 14px;

	.react-bootstrap-table {
		min-width: 500px;
		overflow-x: auto;
		table {
			border: none;

			thead {
				tr {
					th {
						border-bottom: 1px solid #e4e4e4;
					}
				}
			}

			tbody {
				border-top: 0;

				tr {
					td {
						border-bottom: 1px solid #f6f6f6;

						.actionCol {
							button {
								font-size: 10px;
								white-space: nowrap;
							}
						}
					}
				}
			}
		}

		.table-bordered>:not(caption)>* {
			border-width: 0;
		}
	}


}