.shiftTiming {
	.modal-dialog {
		.modal-content {
			padding: 0.8rem 1.5rem 1.5rem;

			.modal-header {
				padding: 0 0 0.8rem;

				.modal-title {
					font-size: 18px;
				}
			}

			.modal-body {
				padding: 1rem 0 0;

				p {
					text-align: center;
					font-size: 18px;
				}
			}
		}
	}
}