.recharts-responsive-container{
    .recharts-wrapper{
        margin: 0 auto;
        .recharts-legend-wrapper{
            ul{
                padding: 0;
                li{
                    display: inline-block;
                    width: 44%;
                    margin: 0 3%;
                    padding: 3px;
                    border: 1px solid;
                }
            }
            .recharts-default-legend{
                .recharts-legend-item {
                    border:1px solid #E1E1E1;
                    padding: 7px 20px;
                    line-height: 0;
                    margin: 0 4px!important;
                    border-radius: 4px;
                    .recharts-surface{
                        width: 10px;
                        height: 10px;
                        border-radius: 5px;
                    }
                    .recharts-legend-item-text{
                        font-size: 11px!important;
                    }
                }
            }
        }
    }
}