@import "../../../components/common.scss";

.certificatesCard {
    height: 190px;
    .secondarySkillText {
        height: 53px;
        overflow: auto;
    }
    .editButton {
        display: flex;
        justify-content: end;
        // height: 30px;
        color: $primaryBlue;
        font-size: 19px;
        cursor: pointer;
    }
    Button {
        display: flex;
        align-items: center;
        // margin-left: 2%;
    }
}
